{% extends 'base.html' %}


{% block body %}

<h1>Add Job</h1>
<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<div>
  <form action="" method="POST" enctype="multipart/form-data">

    
    <label for="fname">Company Name</label>
    <input type="text" id="fname" name="company_name" placeholder="Your name..">


    <label for="fname">Job Title</label>
    <input type="text" id="fname" name="job_title" placeholder="Your name..">

    <label for="lname">Job Description</label>
    <input type="text" id="lname" name="job_description" placeholder="Your last name..">

    <label for="country">Job Type</label>
    <select id="country" name="country">
        <option>Select</option>
      <option value="part_time">Part Time</option>
      <option value="full_time">Full Time</option>
    </select>

    
    <label for="lname">Salary</label>
    <input type="text" id="lname" name="salary" placeholder="Salary">
    
    <label for="lname">Company Logo</label>
    <input type="file" id="lname" name="company_logo" placeholder="">
  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>



    
{% endblock body %}
    